routes.add("/#(url_model_name)", #(first_upper_model_name_without_underline)Controller.class);

activeRecordPlugin.addMapping("table_#(lower_model_name)", "#(lower_model_name)_id", #(first_upper_model_name_without_underline).class);