package com.nowui.chuangshi.api.#(package_name).dao;

import com.nowui.chuangshi.api.#(package_name).model.#(first_upper_model_name_without_underline);
import com.nowui.chuangshi.common.dao.Dao;

public class #(first_upper_model_name_without_underline)Dao extends Dao {

    public #(first_upper_model_name_without_underline)Dao() {
        setModel(new #(first_upper_model_name_without_underline)());
    }

}