import #(first_upper_model_name_without_underline)Index from './view/#(lower_model_name)/#(first_upper_model_name_without_underline)Index';


<Route path="#(url_model_name)/index" component={#(first_upper_model_name_without_underline)Index}/>
