package com.nowui.chuangshi.api.#(package_name).service;

import com.nowui.chuangshi.api.#(package_name).cache.#(first_upper_model_name_without_underline)Cache;
import com.nowui.chuangshi.common.service.Service;

public class #(first_upper_model_name_without_underline)Service extends Service {

    public static final #(first_upper_model_name_without_underline)Service me = new #(first_upper_model_name_without_underline)Service();

    public #(first_upper_model_name_without_underline)Service() {
        setCache(new #(first_upper_model_name_without_underline)Cache());
    }

}
