<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>佛山市实验学校_协同学校_佛山市协同学校_佛山协同国际学校</title>
<meta name="Keywords" content="佛山市实验学校,协同学校,佛山市协同学校,佛山协同国际学校">
<meta name="Description" content="佛山市协同（国际）学校，由佛山市实验学校教育集团管理运营，与美国协同教育集团战略合作，是一所国际化、特色化、精英化的学校。国内教育部为小学初中9年一贯制（将开设高中部），国际教育部为幼儿园小学初中高中15年一贯制。秉承“协性同心、和人济世”的教育理念，培养适应现代、走向世界、引领未来的精英人才。">
<!--[if IE 6]> 
<script src="script/iepngfix_tilebg.js" type="text/javascript" ></script>
<style>*{_behavior:url(script/iepngfix.htc);}</style>
<![endif]-->
<script type="text/javascript" src="script/jquery1.42.min.js"></script>
<script type="text/javascript" src="script/jquery.SuperSlide.js"></script>
<!--<script type="text/javascript" src="script/silder.js"></script>-->
<link rel="stylesheet" href="style/global.css" />
<link rel="stylesheet" href="style/layout.css" />
<link rel="stylesheet" href="style/index.css" />
</head>
<body><!-- #BeginLibraryItem "/Library/top.lbi" --><div class="header">
	<div class="toper">
		<div class="top_1000">
			<div class="logo left"><a href="index.html"><img src="images/logo.png" width="363" height="115" alt="协同学校" /></a></div>
			<div class="right">
				<div class="lang">
					<ul>
						<li class="email"><a href="index.html">邮箱登录</a></li>
						<li><a href="index.html">EN</a></li>
						<li><a href="index.html">中文</a>|</li>
					</ul>
				</div>
				<div class="nav">
					<div class="nav_up">
						<ul>
						    #for(websiteMenu : websiteMenuList)
							<li class="nli">
								<h3><a href="#(websiteMenu.website_menu_url)">#(websiteMenu.website_menu_name)</a></h3>
								<ul class="sub" style="display: none; ">
								    #for(websiteMenuChildren : websiteMenu.children)
									<li><a href="#(websiteMenuChildren.website_menu_url)">#(websiteMenuChildren.website_menu_name)</a></li>
									#end
								</ul>
							</li>
                            #end
						</ul>
					</div>
					<script type="text/javascript">jQuery(".nav").slide({ type:"menu", titCell:".nli", targetCell:".sub",effect:"slideDown",delayTime:100,triggerTime:0,returnDefault:true});</script> 
				</div>
				
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="banner">
		<div class="hd">
			<ul>
				<li class="on">1</li>
				<li class="">2</li>
				<li class="">3</li>
				<li class="">4</li>
				<li class="">5</li>
			</ul>
		</div>
		<div class="bd">
			<ul>
				<li><a href="xxjj.html"><img src="images/banner01.jpg" width="1440" height="605" alt="" /></a></li>
				<li><a href="xsst.html"><img src="images/banner02.jpg" width="1440" height="605" alt="" /></a></li>
				<li><img src="images/banner03.jpg" width="1440" height="605" alt="" /></li>
				<li><img src="images/banner04.jpg" width="1440" height="605" alt="" /></li>
				<li><img src="images/banner051.jpg" width="1440" height="605" alt="" /></li>
			</ul>
		</div>
		<script>jQuery(".banner").slide({mainCell:".bd ul",effect:"fold",autoPlay:true});</script> 
	</div>
	<div class="clear"></div>
	<div class="column">
		<ul>
			<li> <a href="index.html"><img src="images/list_01.jpg" width="268" height="152" alt="小学部" /></a>
				<div class="coln"> <b><a href="index.html">小学部</a></b>
					<p><a href="index.html">立即进入&gt;&gt;</a></p>
				</div>
			</li>
			<li> <a href="index.html"><img src="images/list_02.jpg" width="268" height="152" alt="小学部" /></a>
				<div class="coln"> <b><a href="index.html">中学部</a></b>
					<p><a href="index.html">立即进入&gt;&gt;</a></p>
				</div>
			</li>
			<li> <a href="index.html"><img src="images/list_03.jpg" width="268" height="152" alt="小学部" /></a>
				<div class="coln"> <b><a href="index.html">国际部</a></b>
					<p><a href="index.html">立即进入&gt;&gt;</a></p>
				</div>
			</li>
			<li class="xz_email"><img src="images/email.jpg" width="190" height="152" alt="" />
				<div class="xz_mast">
					<b>校长信箱</b>
					<p>headmaster@mail.com</p>
				</div>
			</li>
		</ul>
	</div>
	<div class="clear"></div>
</div><!-- #EndLibraryItem --><div class="mainer">
	<div class="w1000px">
		<div class="dynamic left">
			<div class="dyna_hd">
				<div class="dyna_title"><strong><a href="xyfg.html">校园动态</a></strong></div>
				<div class="hd">
					<ul>
						<li class="on"><a>公告通知</a></li>
						<li class=""><a href="xyxw.html">校园新闻</a></li>
						<li class="on"><a>主题活动</a></li>
					</ul>
				</div>
			</div>
			<div class="bd">
				<div style="display: block; ">
					<div class="bd_pic left"><img src="images/index_pic.jpg" width="256" height="192" alt="" /></div>
					<ul class="right">
						<li><span>03.26</span><a href="gjjszp.html">协同国际学校（国际部）教师招聘</a></li>
						<li><span>05.01</span><a class="hese" href="http://www.fssy.com/chuzhongSource2015innew/index.asp"><strong>2015年小升初报名</strong></a></li>
						<li><span>03.12</span><a class="hese" href="bmb.html"><strong>2015年小学一年级招生报名正在进行中！</strong></a></li>
						<li><span>01.18</span><a href="zpxx.html">2015年教师招聘公告</a></li>
						<li><span>01.21</span><a href="xxbzs.html">2015年小学部招生简章</a></li>
						<li><span>01.21</span><a href="zxbzs.html">2015年中学部招生简章</a></li>
					</ul>
				</div>
				<div style="display: block; ">
					<div class="bd_pic left"><img src="images/index_pic.jpg" width="256" height="192" alt="" /></div>
					<ul class="right">
						<li><span>03.14</span><a href="wz09.html">佛山协同国际学校隆重举行“快乐体验营”</a></li>
						<li><span>03.02</span><a href="wz08.html">佛山协同国际学校致力于培养引领未来的精英人才</a></li>
						<li><span>01.20</span><a href="wz07.html">佛山协同国际学校创造最适合学生个性化成长的精英教育</a></li>
						<li><span>01.19</span><a href="wz01.html">我校无线电测向队参加广东省无线电测向冠军赛喜获佳绩</a></li>
						<li><span>01.01</span><a href="wz02.html">点亮未来 梦飞young——我校2015</a></li>
						<li><span>12.31</span><a href="wz03.html">佛山市语法教学课例展示研讨活动在佛山市实验学校举行</a></li>
					</ul>
				</div>
				<div style="display: block; ">
					<div class="bd_pic left"><img src="images/index_pic.jpg" width="256" height="192" alt="" /></div>
					<ul class="right">
						<li>栏目建设中</li>
					</ul>
				</div>
			</div>
		</div>
		<script type="text/javascript">jQuery(".dynamic").slide({delayTime:0});</script>
		<div class="group right">
			<div class="group_hd hd">
				<ul>
					<li class="on"><a>集团链接</a>|</li>
					<li class="g_bd1"><a>资源链接</a></li>
				</ul>
			</div>
			<div class="bd">
				<div class="group_bd"> <a class=" left" href="http://www.fssy.com">佛山市实验学校</a> <a class=" right" href="http://www.cihs.edu.hk/">香港协同国际学校</a> <a class=" left" href="http://www.concordiashanghai.org/">上海协和国际学校</a> <a class=" right" href="http://www.bcis.net.cn/">深圳曦城协同国际学校</a> </div>
				<div class="group_bd g_bd2"> <a class=" left" href="http://www.ccjy.cn/">禅城教育信息网</a> <a class=" right" href="http://www.fsjy.net/fsjy/">佛山教育信息网</a> <a class=" left" href="http://hudong.fsjy.net/gfce/index.asp">广佛分布式教育信息网</a> <a class=" right" href="http://zycs.fsjy.net/xueKeIndex.do">科学群资源网站</a> </div>
			</div>
		</div>
		<script>jQuery(".group").slide({delayTime:0});</script>
		<div class="clear"></div>
	</div>
</div>
<div class="frame">
	<div class="w1000px">
		<div class="left">
			<div class="pic_01"> <a href="yxjs.html"><img src="images/index_fast01.jpg" width="320" height="180" alt="" /></a>
				<div class="fra_txt_w fra_txtt"> <b><a href="yxjs.html">教师风采</a></b>
					<p>全面综合的供教师的素质</p>
				</div>
			</div>
			<div class="pic_01 pic_02"> <a href="xsst.html"><img src="images/index_fast02.jpg" width="320" height="170" alt="" /></a>
				<div class="fra_txt_w fra_txt"> <b class="left"><a href="xsst.html">学生社团</a></b>
					<p class="right">各个学生活动中心丰富多彩</p>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div class="left">
			<div class="pic_01 pic_03"> <a href="xxjj.html"><img src="images/index_fast03.jpg" width="350" height="360" alt="" /></a>
				<div class="fra_txt_w fra_txt"> <b><a href="xxjj.html">美丽校园</a></b>
					<p>学校的门户网站首页一方面需要包涵协同国际学校的...</p>
				</div>
			</div>
		</div>
		<div class="right">
			<div class="pic_01"> <a href="xxkcb.html"><img src="images/index_fast04.jpg" width="320" height="180" alt="" /></a>
				<div class="fra_txt_w fra_txtt"> <b><a href="xxkcb.html">课程选择</a></b>
					<p>全面综合的供教师的素质</p>
				</div>
			</div>
			<div class="pic_01 pic_02"> <a href="mlkc.html"><img src="images/index_fast05.jpg" width="320" height="170" alt="" /></a>
				<div class="fra_txt_w fra_txt"> <b class="left"><a href="mlkc.html">魅力课堂</a></b>
					<p class="right">各个学生活动中心丰富多彩</p>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div><!-- #BeginLibraryItem "/Library/foot.lbi" --><div class="footer">
	<div class="foot_nav">
		<div class="w1000px">
			<div class="f_tools left">
				<div class="ft_1">
					<dl>
						<dt><a href="yxjs.html">教师发展</a></dt>
						<dd><a href="index.html">管理团队</a></dd>
						<dd><a href="yxjs.html">优秀教师</a></dd>
						<dd><a href="gjjs.html">国际教师</a></dd>
						<dd><a href="index.html">教师培训</a></dd>
						<dd><a href="index.html">生涯导师</a></dd>
						<dd><a href="index.html">学术科组</a></dd>
					</dl>
				</div>
				<div class="ft_1">
					<dl>
						<dt><a href="xsst.html">学生发展</a></dt>
						<dd><a href="index.html">团学少</a></dd>
						<dd><a href="xsst.html">学生社团</a></dd>
						<dd><a href="index.html">学生领袖</a></dd>
						<dd><a href="index.html">学习辅导</a></dd>
						<dd><a href="gjjl.html">国际交流</a></dd>
					</dl>
				</div>
				<div class="ft_1">
					<dl>
						<dt><a href="xyaq.html">学生服务</a></dt>
						<dd><a href="index.html">学生手册</a></dd>
						<dd><a href="xbfw.html">校巴服务</a></dd>
						<dd><a href="ssfw.html">膳食服务</a></dd>
						<dd><a href="index.html">宿舍服务</a></dd>
						<dd><a href="index.html">校服服务</a></dd>
						<dd><a href="xyaq.html">校园安全</a></dd>
					</dl>
				</div>
				<div class="ft_1">
					<dl>
						<dt><a href="zsjh.html">招生招聘</a></dt>
						<dd><a href="zsjh.html">招生简章</a></dd>
						<dd><a href="rdhd.html">热点问答</a></dd>
						<dd><a href="zpxx.html">招聘信息</a></dd>
						<dd><a href="index.html">我要报名</a></dd>
					</dl>
				</div>
			</div>
			<div class="sign right"> <b>我要报名</b>
				<p>学校地址：佛山市禅城区东鄱南路10号</p>
				<p>联系电话：0757-66611999  66611228  18665531629</p>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="f_copyright">
		<div class="copy_warp">
			<div class="left">© 佛山市锦辉教育投资有限公司 版权所有<span style="display:none;"><script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?47dd3c29afd3d774bcd0eb11e2cbe297";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</span></div>
			<div class="right">
				<P class="left">深圳网站建设： 沙漠风</P>
				<div class="go_top"><a href="javascript:scroll(0,0)"><img src="images/top.jpg" width="40" height="37" alt="top" /></a></div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div><!-- #EndLibraryItem --></div>
<script src="script/js.js"></script>
<div id="moveWindow">
	<div id="removeMW"></div>
	<div class="movetxt">
		<a href="bmb.html"><b>公告</b>
		<p>2015年小学一年级招生报名正在进行中！<span>点击进入</span></p></a>
	</div>
</div>


</body>
</html>
