<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>校园动态-#(article.article_name)-佛山协同国际学校</title>
    <meta name="Keywords" content="佛山市实验学校,协同学校,佛山市协同学校,佛山协同国际学校">
    <meta name="Description"
          content="佛山市协同（国际）学校，由佛山市实验学校教育集团管理运营，与美国协同教育集团战略合作，是一所国际化、特色化、精英化的学校。国内教育部为小学初中9年一贯制（将开设高中部），国际教育部为幼儿园小学初中高中15年一贯制。秉承“协性同心、和人济世”的教育理念，培养适应现代、走向世界、引领未来的精英人才。">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <script src="../js/react.min.js"></script>
    <script src="../js/react-dom.min.js"></script>
    <script src="../js/browser.min.js"></script>
    <script src="../js/react-bootstrap.min.js"></script>
    <script src="../js/reqwest.min.js"></script>
    <script src="../js/util.js"></script>
</head>
<body id="root">
</body>
<script type="text/babel">
    class Component extends React.Component {
        constructor(props) {
            super(props);

            this.state = {
            }
        }

        componentDidMount() {
        }

        componentWillUnmount() {
        }

        handleLogin() {
            login();
        }

        handleLogout() {
            logout();
        }
        
        render() {
            const Navbar = ReactBootstrap.Navbar;
            const Nav = ReactBootstrap.Nav;
            const NavItem = ReactBootstrap.NavItem;
            const NavDropdown = ReactBootstrap.NavDropdown;
            const MenuItem = ReactBootstrap.MenuItem;
            const Carousel = ReactBootstrap.Carousel;
            const Col = ReactBootstrap.Col;
            return (
                    <div>
                        #include("header.template")
                        #include("banner.template")
                        <div className="main">
                            <div className="container">
                                <div className="row">
                                    <div className="col-md-2 row-clo hidden-sm hidden-xs">
                                        <div className="main-left-title">
                                        	<div className="main-left-title-1">N</div>
                                            <div className="main-left-title-2">校园动态</div>
                                            <div className="main-left-title-3">EWS</div>
                                        </div>
                                        <div className="main-left-menu">
                                        	#for(bean : articleCategoryList)
											#if(bean.article_category_id == articleCategory.article_category_id)
											<li className="active">
												<a href="/xydt/#(bean.article_category_id).html">#(bean.article_category_name)</a>
											</li>
											#else
											<li>
												<a href="/xydt/#(bean.article_category_id).html">#(bean.article_category_name)</a>
											</li>
											#end
											#end
                                        </div>
                                        #include("left_column.template")
                                    </div>    
                                    <div className="col-md-10 row-clo">
                                        <div className="main-right-title">
                                           	#(articleCategory.article_category_name)
                                            <div className="main-right-title-extra">
                                                <a href="/index.html">首页</a> &gt;<a href="/xydt/#(articleCategory.article_category_id).html">#(articleCategory.article_category_name)</a> &gt; <a>#(article.article_name)</a>
                                            </div>
                                        </div>
                                        <div className="main-right-content">
                                        	<div style={{textAlign: 'center'}}>
                                				<h1>#(article.article_name)</h1>
                                			</div>
                                			<div style={{textAlign: 'center', marginTop: '20px'}}>
                                				<h4>
                                					作者：#if(article.article_author)
														#(article.article_author)
														#else
														admin 
														#end
													更新时间：#date(article.system_update_time, "yyyy-MM-dd")
                                				</h4>
                                			</div>
	                                    	<div className="row">
	                                    		<div className="col-md-12 row-clo" dangerouslySetInnerHTML={{__html: '#(article.article_content)'}}>
	                                    		</div>
	                                    	</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        #include("footer.template")
                    </div>
            );
        }
    }

    ReactDOM.render(<Component/>, document.getElementById("root"));
</script>